<%- layout('layouts/main.ejs') %>
<form action="/signin" method="POST">
    <input type="email" name="email" placeholder="Ingresa Email">

    <input type="password" name="password" placeholder="Ingrese password">

    <button type="submit">Login</button> 
</form>